<!doctype html>
<html data-ng-app="SLOMgmt">
<head>
	<title>SLO4 Test Site</title>
	<meta charset="UTF-8">
	<!--<meta charset="ISO-8859-1">
	<meta content="text/html;">-->
	
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
	
	<!-- iFactor SC Product Styles -->
	<link rel="stylesheet" href="resources/lib/bootstrap/css/bootstrap.min.css" media="screen"/>

    <!--https://github.com/JustGoscha/allmighty-autocomplete-->
    <link rel="stylesheet" href="resources/lib/autocomplete/style/autocomplete.css">

	<link rel="stylesheet" type="text/css" href="resources/ifactor/css/ifactor-incident.css">

	<!-- iFactor SC Product Fonts -->
	<script src="//use.typekit.net/hgq6dbj.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	
	<!-- jQuery scripts -->
	<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="resources/lib/jQuery/tools/jquery.ui.touch-punch.min.js"></script>

	<!--  iFactor Main Class -->
	<!--<script src="resources/ifactor/scripts/iFactor.js"></script>-->

	<!-- Map API Credentials -->
	<script>
		var mapAPICredentials = "AIzaSyCycEyyXKYO9YFF4XF3FrslwuLbJLcB78o"; // Google
	</script>
	
	<!-- Map Control Scripts -->
	<script>
		document.write('<script src="//maps.googleapis.com/maps/api/js?v=3.exp;key=' + mapAPICredentials + '&amp;sensor=true&amp;region=US&amp;libraries=visualization"><\/script>');
	</script>
	
	<!-- Toggle Switch Plugin -->
	<script src="resources/lib/jQuery/tools/jquery.switchButton.js"></script>
	<link rel="stylesheet" type="text/css" href="resources/lib/jQuery/tools/jquery.switchButton.css">

</head>
<body ng-controller="SloController as sloCtrl">
	<div id="scStorageSpace">DemoSLO4</div>

	<!-- Country for geocoding (FROM http://en.wikipedia.org/wiki/ISO_3166-1) -->
	<div id="scCountry"></div>  <!-- Use Google Maps default -->
	<!--<div id="scCountry">US</div>-->
	<!--<div id="scCountry">ES</div>-->
	<!--<div id="scCountry">FR</div>-->

	<!-- Time Zone Configuration for date-time shown in the web page -->
	<div id="scTimeZone"></div>
	<!--<div id="scTimeZone">America/New_York</div>-->

	<div id="image-preloader">
		<img src="resources/ifactor/images/mapicons-01.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/mapicons-01@2x.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/mapicons-02.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/mapicons-02@2x.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/mapicons-06.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/mapicons-06@2x.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/iconhighlight.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/iconhighlight@2x.png" alt="" height="1" width="1">

		<img src="resources/ifactor/images/icon-plus.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/icon-plus@2x.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/icon-minus.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/icon-minus@2x.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/chevron.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/chevron@2x.png" alt="" height="1" width="1">

		<img src="resources/ifactor/images/back-chevron.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/back-chevron@2x.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/close.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/close@2x.png" alt="" height="1" width="1">

		<img src="resources/ifactor/images/toolbars-menu.png" alt="" height="1" width="1">
		
		<img src="resources/ifactor/images/slider-handle.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/slider-handle@2x.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/slider-handle-large@2x.png" alt="" height="1" width="1">

		<img src="resources/ifactor/images/default/streetlight_new.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/service-line.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/service-line@2x.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/serviceareaoverlay.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/serviceareaoverlay@2x.png" alt="" height="1" width="1">
		
		<!-- Temporary (for Reports and Branding) -->
		<img src="resources/ifactor/images/ifac-logo-main.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/ifac-logo-small.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/btn-close-panel.png" alt="" height="1" width="1">
		<!--<img src="resources/ifactor/images/show-etr-report.png" alt="" height="1" width="1">
		<img src="resources/ifactor/images/show-view-report.png" alt="" height="1" width="1">-->

	</div>

<div id="esadmin-header">
	<img src="resources/ifactor/images/test/esadmin.png" alt="">
</div>
<section id="slo-content">	
	<!-- SC MAIN FRAME -->
	<div id="sc-frame">
		<!-- Header Panel -->
		<div id="header-panel">
 			<button id="btn-menu" class="header-bar-btn">
				<span class="icon-toolbar-menu"></span>
				<span class="icon-cross"></span>
			</button>
			<!--<button id="btn-locate" class="header-bar-btn" ng-click="findMe()">
				<span class="icon-toolbar-mylocation"></span>
			</button>
			<a href="#" class="janrainEngage">
			<button id="btn-login" class="header-bar-btn">
				<span class="icon-key"></span>
			</button>-->
			</a>
            <!-- <a class="janrainEngage" href="#">Sign-In</a> -->
<!-- 			<button id="btn-overview" class="header-bar-btn">
				<span class="icon-search-2"></span>
			</button> -->
			<ifactor-asset-search></ifactor-asset-search>
<!-- 			<a href="http://www.ifactorconsulting.com/" target="_blank">
				<button id="btn-logo" class="header-bar-logo"></button>
			</a> -->
		</div>

		<ifactor-map id="map"></ifactor-map>

<!-- 		<a href="http://www.ifactorconsulting.com" target="_blank">
			<div id="customer-logo"></div>
		</a> -->

		<a href="http://www.ifactorconsulting.com" target="_blank">
			<div id="branding-logo"></div>
		</a>

		<!-- Zoom Buttons -->
		<button id="btn-zoom-in" class="btn-zoom" ng-click="zoomIn()">
			<span class="icon-plus"></span>
		</button>
		<button id="btn-zoom-out" class="btn-zoom"  ng-click="zoomOut()">
			<span class="icon-minus"></span>
		</button>

		<!-- alert -->
		<ifactor-alert></ifactor-alert>
		<!-- message box-->
		<ifactor-message-box></ifactor-message-box>
		<!-- Infobox -->
		<ifactor-mgmt-info-box></ifactor-mgmt-info-box>
		
	</div>

	<!-- incident list -->
    <ifactor-incident-panel></ifactor-incident-panel>

</section>
	<!-- PRODUCT -->
	<!-- ******* -->

	<!--twitter bootstrap -->
	<script src="resources/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="resources/lib/angular/angular.min.js" type="text/javascript"></script>
	<script src="resources/ifactor/scripts/IFStreetLightOutagesMgmt.js" type="text/javascript"></script>
	<script src="resources/ifactor/scripts/IFMapMgmt.js" type="text/javascript"></script>

    <!--autocomplete-->
    <script src="resources/lib/autocomplete/script/autocomplete.js" type="text/javascript"></script>
	<!--<script src="resources/ifactor/scripts/IFMapInfoBox.js" type="text/javascript"></script>-->
	<script src="resources/ifactor/scripts/IFMapAssetSearch.js" type="text/javascript"></script>
	<script src="resources/ifactor/scripts/IFMapAlert.js" type="text/javascript"></script>
	<script src="resources/ifactor/scripts/IFMapMessageBox.js" type="text/javascript"></script>
    <!--<script src="resources/ifactor/scripts/IFMapMenu.js" type="text/javascript"></script>-->
	<script src="resources/ifactor/scripts/IFMapMgmtIncidentPanel.js" type="text/javascript"></script>
    <script src="resources/ifactor/scripts/IFMapMgmtInfoBox.js" type="text/javascript"></script>
	<!--<script src="resources/ifactor/data/traditional/pepco500.js" type="text/javascript"></script>-->

	<!-- Moment.js library (Date-Time manipulation) -->
	<script src="resources/lib/moment/2.8.2/moment.min.js"></script>
	<script src="resources/lib/moment/2.8.2/locale/es.js"></script>
	<script src="resources/lib/moment/2.8.2/moment-timezone-with-data-2010-2020.js"></script>
    <script type='text/javascript' src="https://x2js.googlecode.com/hg/xml2json.js"></script>
	

</body>
</html>
