
/* Media Query Break Points */
$l-max-width: 1099px;/* LG screens */
$l-min-width: 760px;/* LG Screens+ */

$m-l-min-width: 760px;/* Tablet landscape */
$m-p-max-width: 759px;/* Tablet Portrait */

$s-l-max-width: 560px;/* Phone Landscape */
$s-p2-max-width: 390px;/* Phone Portrait larger */
$s-p1-max-width: 340px;/* Phone Portrait */

$color-menu: #767675;
$color-menu-text: #cacdce;
$color-menu-content-heading: #90959c;
$color-menu-content-bg: #a3a8a9;
$color-white: #fff;
$color-orange: #B64615;
$color-orange-2: #B64615;
$color-red: #F03934;
$color-red-2: #B82420;
$color-green: #49710E;
$color-green-2: #3B5C0B;
$color-gray: #666;
$color-gray-2: #999;

$menu-level-1: #fbd44f;
$menu-level-2: #2c83a5;
$menu-level-3: #4d94af;
$menu-level-4: #84b0c0;
$menu-level-5: #bad0d8;

$legacy-panel-bg: rgb(110, 110, 110);
$panel-bg: rgba(110,110,110,0.9);