<div id="ifactorAlert" ng-click="hideAlert()">
    <table id="alertTable">
        <tr>
            <td align="center"><div id="alert-message"></div></td>
        </tr>
    </table>
    <!--<div style="float: right; width: 155px; height: 40px; display: table; #position: relative; overflow: hidden;">
        <div style="#position: absolute; #top: 50%; display: table-cell; vertical-align: middle;">
            <div style="#position: relative; #top: -50%;">
                <p>{{message}}</p>
            </div>
        </div>
    </div>-->
    <!--<span>{{message}}</span>-->
</div>