<!--<div id="search-bar">
    <input id="search-field" class="span5" type="search" placeholder="Enter pole number or address" data-hint="" data-enter="" ng-click="performAddressSearch()">
</div>-->
<div id="search-bar">
  <button class="search-button" type="button" ng-click="performSearch()">
      <span class="icon-search"></span>
  </button>
   <input id="search-field" type="search" class="form-control" required autofocus />
    <!--<autocomplete required autofocus ng-model="yourchoice" data="previousSearchData" on-type="updateSearchData"></autocomplete>-->
</div>

