<div id="info-panel" style="display: none;">
    <div id="info-panel-bg"></div>
    <div id="info-box">
        <div class="title-bar"></div>
        <div id="info-box-scroller">
            <div id="info-box-content"></div>
        </div>
        <!--<hr style="margin-top: -25px"/>-->
        <div id="info-box-tool-tray">
            <div id="info-box-tool-tray-inner">
            <button id="footerButton1">action1</button>
            <button id='footerButton2'>action2</button>
            </div>
        </div>
    </div>
</div>