<div id="menu-panel">
    <div id="menu-content">
    	<div id="menu-header" class="menu-row">
    	</div>

<!-- 		<a class="collapsed expandable menu-row" data-target="menu-content-login">
			<span id="legend-icon" class="menu-icon icon-key"></span>
			<span id="menu-legend" class="menu-label resp-text">Login</span>
			<span class="menu-arrow icon-triangle-right"></span>
		</a> -->

<!-- 		<div id="menu-content-login" class="expandable-content">
			<div class="expandable-content-padding">
				<span id="menu-content-legend-heading" class="heading">
				</span>
				<div id="legend-content">
				<input type="text" placeholder="User Name"/>
				<input type="password" name="" value="" placeholder="password"/>
				</div>
			</div>
		</div> -->
<!-- 
		<a class="collapsed expandable menu-row" data-target="menu-content-legend">
			<span id="legend-icon" class="menu-icon icon-compass"></span>
			<span id="menu-legend" class="menu-label resp-text">Legend</span>
			<span class="menu-arrow icon-triangle-right"></span>
		</a>

		<div id="menu-content-legend" class="expandable-content">
			<div class="expandable-content-padding">
				<span id="menu-content-legend-heading" class="heading">
				</span>
				<div id="legend-content">
					<ul>
						<li></li>
					</ul>
				</div>
			</div>
		</div> -->

		<a class="collapsed expandable menu-row" data-target="menu-content-legend">
			<span id="legend-icon" class="menu-icon icon-info-with-circle"></span>
			<span id="menu-legend" class="menu-label resp-text">Information</span>
			<span class="menu-arrow icon-triangle-right"></span>
		</a>

		<div id="menu-content-legend" class="expandable-content">
			<div class="expandable-content-padding">
				<span id="menu-content-legend-heading" class="heading"></span>
			        <h4>REPORT STREETLIGHT OUTAGE</h4>
		            <p>We service more than 111,000 streetlights in Maryland. Street and area lights are an important community safety feature and we thank you for taking the time to make us aware of any problems, including lights that are out, flickering or that have been damaged. Specific information that you can provide regarding the location, address and pole number of the light will help our field personnel make repairs.</p>

		            <p>We only service overhead streetlights on wooden poles in Montgomery County, Maryland. Please report any other streetlight outages to Montgomery County Department of Public Works and Transportation. To do this, <a href="http://www2.montgomerycountymd.gov/dot-streetlight/Index.aspx" target="_blank" >click here</a>.</p>

		            <p>We service streetlights in Prince George's County on county and municipal roadways. If you have a problem in Prince George's County, please call Pepco Customer Service at 1-877-PEPCO-62 (1-877-737-2662). Customers may also contact Prince George's County 311.</p>

		            <p>We do not service streetlights in the District of Columbia. If you have a streetlight problem in the District of Columbia, please call 202-727-1000.</p>
			</div>
		</div>
    </div>
</div>
