<!--
<div id="ifactorMessageBox" style="display: none; background-color: #ffffff; position: absolute; top: 50%; left: 50%; margin-top: -50px; margin-left: -250px; width: 500px; height: auto" >
    <table style="width: 100%; ">
        <tr>
            <td align="center" style="background-color: #808080; color: #ffffff">
                <button id='btn-close-messageBox' ng-click='hideMessageBox();' style="float: right"><i class="large icon-remove-sign"></i> </button><div><h4><div id="messageTitle"></div></h4></div>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 20px 20px 20px; height: auto">
                <div id="messageBody"></div>
            </td>
        </tr>
       &lt;!&ndash; <tr>
            <td style="padding: 20px 20px 20px 20px;">

            </td>
        </tr>&ndash;&gt;
    </table>
</div>-->

<div id="ifactorMessageBox" title="Test">
    <div id="messageBody"></div>
</div>
